/* style.css */

.title-text-h1 {
    color: black;
}
.title-text-h2 {
    color: rgb(61, 58, 58);
}
.title-text-h3 {
    color: rgb(87, 73, 73);
}
.title-text-h4 {
    color: rgb(243, 155, 155);
}
.title-text-h5 {
    color: rgb(128, 38, 38);
}